@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /*Cores base*/
  --bg: #08070b; 
  --bg2: #14111d; 
  --primary: #c5a059; 
  --secundary: #482a85; 
  --accent: #9dfd49; 

  --text: #f0f0f5; 
  --light-text: #8b89a1; 
  --focus: #d800a6; 

  --white: #ffffff;
  --black: #000000;

/*Cores por dormitório*/
  --heartslabyul: #b91d1d; 
  --savanaclaw:   #d97706; 
  --octavinelle:  #7dd3fc; 
  --scarabia:     #7f1d1d; 
  --pomefiore:    #7c3aed; 
  --ignihyde:     #0ea5e9; 
  --diasomnia:    #065f46; 

  /* Estados de Gameplay */
  --success: #10b981; 
  --danger: #ef4444; 
  --blot-ink: #11001c;  
  --magic-aura: #9dfd4940; 

  /* Fontes / Tipografia */
  --title-font: 'Cinzel', serif;
  --text-font: 'Montserrat', sans-serif;

  /* Estrutura*/
  --border: 1px solid rgba(197, 160, 89, 0.2);
  --shadow: 0 12px 40px rgba(0, 0, 0, 0.9);
}